body {
    background-color: #FAF0DD;
    text-align: center;
}

.demotbl {
    border: 0px solid #69899f;
    margin-left: auto;
    margin-right: auto;
}

.demotbl th {
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #568f23;
    border-bottom: 3px solid #9ed929;
    background-color: #9dd929;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123, 192, 67)),
        color-stop(0.51, rgb(139, 198, 66)),
        color-stop(0.87, rgb(158, 217, 41))
    );
    background: -moz-linear-gradient(center bottom, rgb(123, 192, 67) 3%, rgb(139, 198, 66) 52%, rgb(158, 217, 41) 88%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.demotbl td {
    width: 100px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    background-color: #def3ca;
    border: 1px solid #bed3ab;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}
